deployment:
  enabled: true
  replicas: 2
  resources:
    requests:
      cpu: "500m"
      memory: "512Mi"
    limits:
      cpu: "2000m"
      memory: "2Gi"

service:
  enabled: true
  type: LoadBalancer
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
    service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
    service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: "ip"
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "arn:aws:acm:us-east-1:044514005641:certificate/bfc7e6f0-f6cb-4434-b42a-4054a9c8f806"
    service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "http"

ports:
  web:
    port: 8000
    targetPort: 8000
    exposedPort: 80
    protocol: TCP
  websecure:
    port: 8443
    targetPort: 8443
    exposedPort: 443
    protocol: TCP
    http:
      tls:
        enabled: false

providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true
    allowExternalNameServices: true
  kubernetesIngress:
    enabled: true

logs:
  general:
    level: INFO
  access:
    enabled: true

additionalArguments:
  - "--api.insecure=true"
  - "--serverstransport.insecureskipverify=true"

ports:
  web:
    port: 8000
    targetPort: 8000
    exposedPort: 80
    protocol: TCP
  websecure:
    port: 8443
    targetPort: 8443
    exposedPort: 443
    protocol: TCP
    http:
      tls:
        enabled: false
  traefik:
    port: 8080
    targetPort: 8080
    expose:
      default: true
    protocol: TCP
    exposedPort: 8080
