deploymentMode: SingleBinary
loki:
  auth_enabled: false
  useTestSchema: true
  storage:
    type: filesystem
singleBinary:
  replicas: 1
  persistence:
    enabled: false
    volumeClaimsEnabled: false
    dataVolumeParameters:
      emptyDir:
        sizeLimit: 10Gi
  extraVolumes:
    - name: storage
      emptyDir:
        sizeLimit: 10Gi
  extraVolumeMounts:
    - name: storage
      mountPath: /var/loki
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0
ruler:
  enabled: false
alertmanager:
  enabled: false
gateway:
  enabled: true
chunksCache:
  enabled: false
resultsCache:
  enabled: false
queryIndexCache:
  enabled: false
monitoring:
  serviceMonitor:
    enabled: false
test:
  enabled: false
