loki:
  auth_enabled: false
  
  commonConfig:
    replication_factor: 1
  
  storage:
    type: filesystem
    filesystem:
      rules_directory: /loki/rules
  
  schemaConfig:
    configs:
      - from: 2024-01-01
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

ruler:
  enabled: false

alertmanager:
  enabled: false

gateway:
  enabled: true
  replicas: 1
  ingress:
    enabled: false

backend:
  replicas: 1
  persistence:
    enabled: true
    size: 10Gi
    storageClass: gp3

read:
  replicas: 1
  persistence:
    enabled: true
    size: 10Gi
    storageClass: gp3

write:
  replicas: 1
  persistence:
    enabled: true
    size: 10Gi
    storageClass: gp3

monitoring:
  dashboards:
    enabled: false
  serviceMonitor:
    enabled: true
    namespace: observability
  selfMonitoring:
    enabled: false

test:
  enabled: false
