tempo:
  storage:
    trace:
      backend: local
      wal:
        path: /var/tempo/wal
      local:
        path: /var/tempo/blocks

  ingester:
    max_block_duration: 5m

  compactor:
    compaction:
      block_retention: 168h

  metricsGenerator:
    enabled: false
    remote_write_url: http://prometheus.observability.svc.cluster.local:9090/api/v1/write

  gateway:
    enabled: false
    ingress:
      enabled: false

  serviceMonitor:
    enabled: false
    namespace: observability

test:
  enabled: false

persistence:
  enabled: false
  size: 5Gi
  storageClassName: gp2

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 256Mi
